@charset "utf-8";
/* MIlLKCOMPANY LJY 160412 */


/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',Nanum Gothic,Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline;color:none;}
caption,.blind{visibility:hidden;overflow:hidden;position:absolute;left:-999em;width:0;height:0;font-size:0;line-height:0}



/* layout */
#wrap{width:100%;position:relative; margin: 0 auto;}
/* #sub_top{width:100%;margin:0 auto;background:url(../img/sub_top_bg.jpg) 50% 0 repeat-x;} */
#header{width:100%;background-image:url(../img/sub_top_bg.jpg); z-index:999;}
#container{overflow:hidden;position:relative; width:100%; margin:0 auto; *zoom:1 /* for IE7 */}
#container:after{display:block;clear:both;content:''}
#content{position:relative; width:1000px;margin:0 auto; *zoom:1 /* for IE7 */;}
#content:after{display:block;clear:both;content:''}
#footer{width:100%;height:190px; margin-top:120px;*zoom:1 /* for IE7 */; background:url(../img/bg_footer.gif) 0 0 repeat-x;}
#subcontent{width:1000px;float:left;margin-bottom:20px}
.subcontent{float:left;width:700px;}
.subcontent02{width:1000px}
.aside{float:left; width:270px;margin-top:62px;margin-left:30px;}

/*header*/
.gnb{position:relative; overflow:hidden; width:1000px; padding-top:14px;margin:0 auto;}
.gnb ul{overflow:hidden; float:right;}
.gnb li{overflow:hidden; float:left;}
.gnb li a{display:block; height:25px;color:#dbdbd9;}
.gnb .lst_gnb{padding-right:121px}
.gnb .lst_gnb li{float:left; margin-left:21px;}
.gnb .lst_nation {position:absolute;top:13px;right:0}
.gnb .lst_nation li{margin-left:3px}
.gnb .lst_nation li:first-child{margin-left:13px}

/*header_menu*/
.lnb{position:relative;min-height:110px;width:1000px;margin:0 auto;}
.lnb div{float:right;}
.lnb h2 a{position:absolute;top:-40px;left:0;float:left; width:150px; height:150px;background:url(../img/logo.png) 0 0 no-repeat;font-size:0; line-height:0;z-index:9999}
.sub_menu{float:left;}
.mnu a{display:block;}

.mnu .mnu_title{margin:0 14px;margin-top:47px}
.sub_menu li{background:url(../img/menu_bar.gif)0 3px no-repeat;}
.sub_menu li a{font-size:17px; color:#fff; line-height:22px; letter-spacing:-0.5px; font-weight:600;}
.sub_mnu{height:22px; margin:21px 0 0 -1px; letter-spacing:-1px; vertical-align:top; /* for IE7 */ }
.sub_mnu_v1,.sub_mnu_v3,.sub_mnu_v4{margin-top:3px;}
.sub_mnu_v2{margin-top:-1px}
.sub_mnu li a {display:block; }

/*main title*/
.login_title{position:relative;width:1000px; margin:107px 0 200px 0 ;text-align:center; *zoom:1 /* for IE7 */}
.login_title .welcome{color:#fff;font-size:14px;padding:16px 0}
.login_title li:first-child{padding:0}
.section .input_txt{background:#fff;border:1px solid #494948;width:300px;height:40px; padding-left:12px;margin-top:6px}
.section .input_btn_login{margin-top:20px;background:#cb0808;border:1px solid #cb0808;width:313px;height:40px;color:#fff;font-size:15px;letter-spacing:-1px}
.section .input_btn_join{margin-top:6px;background:#1a1a1a;border:1px solid #1a1a1a;width:313px;height:40px;color:#fff;font-size:15px;letter-spacing:-1px}
.section .idpw_search{margin-top:20px;}
.section .idpw_search a{color:#fff;letter-spacing:-1px;}
.section .idpw_search span{color:#fff;margin:0 17px;}
.section .section2{overflow:hidden;position:relative;width:1000px;height:612px;margin:0 auto}
.main_title{position:relative;width:1000px; margin:206px 0 270px 0 ;text-align:left; *zoom:1 /* for IE7 */}
.main_title li{color:#fff;font-size:50px;font-weight:300;}
.main_title .subtitle{margin-top:40px;color:#bcbcbc;font-size:15px;font-weight:300;letter-spacing:-1px;}

/*sub_layout*/
.spot{width:100%;margin:0 auto;height:35px;background:url(../img/bg_submnu.gif) 50% 0 repeat-x}
.snb_menu{overflow:hidden;width:1000px;margin:0 auto;}
.snb_menu .snb_menu01{color:#fff;font-size:16px;width:150px;padding-top:9px}
.snb_menu ul{float:left;}
.snb_menu ul li{float:left;width:180px;text-align:center;}
.snb_menu ul li a{display:block;width:180px;padding:9px 0;color:#fff;font-size:14px;text-align:center;text-decoration:none;}
.snb_menu ul li a:hover{display:block;background-color:#000;}
.snb_menu .snb_mypage{width:120px;}
.snb_menu .snb_mypage a{display:block;width:130px;padding:9px 0;color:#fff;font-size:14px;text-align:center;text-decoration:none;}
.snb_menu .snb_mypage a:hover{display:block;backgroudn-color:#000;}
/*서브 탭메뉴*/
.sub_tab{margin-top:55px;}
.sub_tab ul{overflow:hidden;margin:0 216px;}
.sub_tab ul li{float:left;text-align:center;margin-left:10px;border:1px solid #cbcbcb;border-radius:20px;}
.sub_tab ul li:first-child{margin-left:0px;}
.submnu_tab{display:block;width:150px;padding:9px 15px;color:#1ea58d;font-size:17px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.submnu_tab_v2{display:block;width:150px;padding:9px 15px;color:#555;font-size:17px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}s
.sub_tab a:hover{display:block;color:#fff;background:#1ea58d;text-decoration:none;border-radius:20px;}
.sub_tab_v2 a:hover{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}
.on{display:block;color:#fff;background:#1ea58d;text-decoration:none;border-radius:20px;}
.on_v2{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}

/*서브컨텐츠*/
.snb_title{position:relative;overflow:hidden;margin-top:41px;border-bottom:1px solid #cbcbcb;padding-bottom:17px;}

.snb_title .snb_ing{position:absolute;top:0;right:0;}
.snb_title .snb_date{margin-top:23px;float:right;font-size:14px;color:#000;letter-spacing:-1px}
.snb_01{display:inline-block;margin-left:20px;font-size:34px;letter-spacing:-2px}
.snb_01 span{position:absolute;top:20px;right:0;font-size:11px;letter-spacing:-1px;font-family:dotum;}
.snb_01_con{margin-top:55px;font-size:14px;padding:0 170px;line-height:24px;letter-spacing:-1px;}
.snb_01_con dt{margin-top:20px;}
.snb_01_con dd{margin-top:10px;}
.snb_01_con .dt_bg{display:block;width:138px;background:#1ea58d;padding-left:10px;color:#fff}
.snb_01_con .dt_bg_v2{display:block;width:280px;background:#cb0808;padding-left:10px;color:#fff}
.txt_rgt{text-align:right;}
.snb_01_board{margin-top:40px;font-size:14px;line-height:24px;letter-spacing:-1px;font-family:'돋움',Dotum,AppleGothic,sans-serif;}


.btn_red{margin-top:20px;width:100px;text-align:center;color:#fff;font-size:14px;padding:10px;background:#cb0808;border:none}
.btn_gray{margin-top:20px;width:100px;text-align:center;color:#fff;font-size:14px;padding:10px;background:#000;border:none}
/*게임 서브컨텐츠 테이블*/
.flow_txt{margin-top:20px;padding:10px 20px;border:2px dotted #e4ff00;color:#e4ff00;font-weight:bold;font-size:18px;background:linear-gradient(180deg,#585858,#000)}
.bx_txt{margin-top:20px;font-weight:bold;}
.updown_graph{margin-top:20px;padding:20px;background:#333;color:#fff}
.subcontent .tbl_game {margin-top:20px;min-width:700px; border:2px solid #e5e5e5; border-right:0;  border-left:0; border-spacing:0; border-collapse:collapse; white-space:nowrap;text-align:center;font-size:12px;font-family:'돋움',Dotum,AppleGothic,sans-serif;}
.subcontent .tbl_game th {padding:4px 0;color:#666666;background:#f5f7f9;border:1px solid #e5e5e5;}
.subcontent .tbl_game td {font-size:12px;padding:7px 0;border:1px solid #e5e5e5;}
.subcontent .tbl_game .name{color:red;}
.subcontent02 .tbl_game {margin-top:20px;min-width:1000px; border:2px solid #e5e5e5; border-right:0;  border-left:0; border-spacing:0; border-collapse:collapse; white-space:nowrap;text-align:center;font-size:12px;font-family:'돋움',Dotum,AppleGothic,sans-serif;}
.subcontent02 .tbl_game th {padding:4px 0;color:#666666;background:#f5f7f9;border:1px solid #e5e5e5;}
.subcontent02 .tbl_game td {font-size:12px;padding:7px 0;border:1px solid #e5e5e5;}
.subcontent02 .tbl_game .name{color:red;}
.ellipsis{padding-top:5px;display:block;white-space:nowrap;text-overflow:ellipsis; /*IE,Safari*/ overflow:hidden;}
.ellipsis2{padding-top:5px;border:0;display:block;white-space:nowrap;text-overflow:ellipsis; /*IE,Safari*/ overflow:hidden;}
.ellipsis3{border:0;display:block;white-space:nowrap;text-overflow:ellipsis; /*IE,Safari*/ overflow:hidden;font-size:11px;}
.betbtn_select{cursor:pointer;padding:5px;background-color:#fff;border:solid 3px red;}

/*종목별레이스 단식테이블 CSS*/
.tbl_game .race_title{padding:7px 0;line-height:150%;border-bottom:1px solid #ccc}
.tbl_game .race_title{padding:7px 0;line-height:150%;}
.tbl_game .race_title04{padding:7px 0;margin:3px;line-height:150%;border:1px dotted #ccc;font-weight:bold;color:#212121;border-radius:4px;background:#efefef;cursor:pointer}

.tbl_game .race_title04_select{padding:7px 0;margin:3px;line-height:150%;border:1px solid #ff5a00;font-weight:bold;color:#fff;border-radius:4px;background:#ff5a00;}
.tbl_game .race_title04_ov{padding:7px 0;margin:3px;line-height:150%;border:1px solid #47B7AD;font-weight:bold;color:#fff;border-radius:4px;background:#47B7AD;}

.tbl_game .data{font-weight:bold;color:#ff6600;}
.subcontent .tbl_race td{padding:0;}

/*aside*/
.aside{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
.aside a{color:#b1b1b1}
.aside .top{width:270px;margin:0 auto;background:#3e3e3e;border-top:3px solid #cd0808;}
.aside .info_type {margin:10px 0 10px 15px}
.aside .info_type span{font-size:11px;font-weight:bold;color:#3e3e3e;}
.aside .info_type img{padding:0 8px;}
.aside .myinfo{width:240px;margin:0 auto;background:#3e3e3e;}
.aside .myinfo dl{margin-top:5px}
.aside .myinfo_top{overflow:hidden;border-bottom:1px solid #4d4d4d;display:block;padding:15px 4px 10px 5px;}
.aside .myinfo_top span{color:#b1b1b1;font-weight:bold;}
.aside .betting_name{overflow:hidden;padding:11px 5px 13px;width:238px;border-bottom:1px solid #4d4d4d;}
.aside .betting_name dt{float:left;height:20px;line-height:20px;color:#fff;}
.aside .betting_name dt em{font-weight:bold;padding:0 3px}
.aside .betting_name dd{float:left;height:20px;line-height:20px;color:#b1b1b1;text-align:right;}
.aside .betting_name .txt3{float:right;margin-right:9px;color:#fff;background:red;padding:1px 5px}
.aside .betting_name .txt4{float:right;margin-right:9px;margin-top:4px}
.aside .myinfo_center{overflow:hidden;padding:11px 5px 13px;width:238px}
.aside .myinfo_center2{overflow:hidden;padding:11px 2px 13px;width:248px}
.aside .myinfo_center dt{float:left;height:20px;line-height:20px;color:#b1b1b1;}
.aside .myinfo_center dd{float:left;height:20px;line-height:20px;color:#b1b1b1;text-align:right;}
.aside .myinfo_center .txt1{width:163px;margin-right:9px;}
.aside .myinfo_center .txt2{width:139px;margin-right:9px;}
.aside .myinfo_center .txt3{width:169px;margin-right:9px;}
.aside .myinfo_center .max{margin-left:32px;padding:2px 3px 2px 2px;color:#fff;font-weight:bold;background:red}
.aside .myinfo_center input{margin-left:6px;width:100px;padding:3px;text-align:right;}
.aside .myinfo_center .auto-betting-money{margin-left:17px;width:130px;padding:3px;text-align:right;}
.aside .myinfo_center .autoslip input{margin-left:-3px;width:80px;font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:14px;font-weight:bold;text-align:center;}
.aside .btn_logout{display:block;float:right;width:47px;height:18px;}
.aside .btn_notice{display:block;float:right;width:28px;height:18px;}
.aside .btn_charge{display:block;float:right;width:28px;height:18px;}
.aside .btn_mny{padding-bottom:18px}


.aside .btn_money{display:inline-block;width:77px;height:23px;border:1px solid #323232;font-family:'돋움',Dotum,AppleGothic,sans-serif;margin-top:4px;background:linear-gradient(180deg,#585858,#4d4d4d);cursor:pointer;color:#bbb;}
.aside .btn_money_ov{display:inline-block;width:77px;height:23px;border:1px solid #323232;font-family:'돋움',Dotum,AppleGothic,sans-serif;margin-top:4px;background:linear-gradient(180deg,#dd0000,#a60000);cursor:pointer;color:#fff;font-weight:bold}

.aside .btn_betting .btn_bt{padding:9px 0; width:132px;color:#fff;font-size:16px;font-weight:bold;border:1px solid #15705f;font-family:'돋움',Dotum,AppleGothic,sans-serif;background:linear-gradient(180deg,#1ea48c,#15705f)}
.aside .btn_betting .btn_bt_ov{padding:9px 0; width:132px;color:#fff;font-size:16px;font-weight:bold;border:1px solid #771414;font-family:'돋움',Dotum,AppleGothic,sans-serif;background:linear-gradient(180deg,#eb2f2f,#771414)}

.aside .btn_betting .btn_bt_sel{padding:9px 0; width:132px;background:#e25404;color:#fff;font-size:16px;font-weight:bold;border:1px solid #b37d3c;font-family:'돋움',Dotum,AppleGothic,sans-serif;}
.aside .time{overflow:hidden;margin:15px 5px;}
.aside .time span{float:left;vertical- align:middle;line-height:44px;font-size:16px;color:#1ea58d;font-weight:bold;letter-spacing:-1px;}
.aside .time .p_time{margin-right:15px;}
.aside .time span img{padding:0 5px;}
.aside .time .hour{display:block;width:33px;height:43px;background:#1ea58d;margin:0 1px;text-align:center;color:#fff;}
.aside .time .minute{margin-left:5px}
.aside .btn_betting{margin:5px 1px;}
.aside .btn_betting input{padding:6px 0; width:132px;background:#1ea58d;color:#fff;font-size:16px;font-weight:bold;border:1px solid #4a7971;font-family:'돋움',Dotum,AppleGothic,sans-serif;}
.aside .up_sec{position:relative;border:1px solid #323232;padding:10px 35px 10px 0;text-align:right;font-size:50px;font-weight:bold;background:linear-gradient(180deg,#eb2f2f,#771414)}
.aside .up_sec .sec1 span{color:#fff;font-size:38px;text-align:center;}
.aside .up_sec .sec2 span{color:#fff;font-size:38px;text-align:center;}
.aside .betting{border-top:3px solid #1ea58d}
.aside .up_sec .sec1 .sec1_ing{font-size:18px;position:absolute;top:22px;left:22px;}
/*table*/
.tbl_type {margin-bottom:10px; width:100%; min-width:270px;border-right:0;  border-left:0; border-spacing:1px; white-space:nowrap;font-size:16px;font-family:'나눔고딕',NanumGothic,AppleGothic,sans-serif;}
/*border-collapse 는 겹치는 부분이 먹어버리도록 해줌/ min-width 값은 최소의 너비가 되었을때 더이상 줄어들지 않도록 해준다*/
.tbl_type th{background:#e25404;color:#fff;}
.tbl_type tfoot td{background:#3e3e3e; color:#fff; }
.tbl_type tbody td{color:#fff; text-align:center;}
.tbl_type th{padding:6px 0;font-size:14px}
.tbl_type td{text-align:center;padding:5px 0;}
.tbl_type tfoot td{font-weight:bold}
.tbl_type .tbl01{background:#e25404;color:#ffffff;font-weight:bold;font-size:20px;border:1px solid #e25404;}
.tbl_type .tbl02{background:#fff;color:#3e3e3e;font-weight:bold;border:1px solid #ccc;}
.tbl_type .tbl03{background:#6e6e6e;color:#ffffff;font-weight:bold;font-size:20px;border:1px solid #6e6e6e;}

.tbl_type .tbl_select{
	text-decoration:none;
	border:3px solid red;
	padding:12px 0;
	color:red;
	cursor:pointer;
	background:#ebebeb;
	font-weight:bold;
}
.tbl_type .tbl_ov{
	
	text-decoration:none;
	border:3px solid #47B7AD;
	padding:12px 0;
	color:#47B7AD;
	cursor:pointer;
	background:#ebebeb;
	font-weight:bold;
	
}
.tbl_type .tbl_normal{
	
	text-decoration:none;
	border:3px solid #ccc;
	padding:12px 0;
	color:#3e3e3e;
	cursor:pointer;
	font-weight:bold;
	

}



/*게시판 테이블CSS*/
.tbl_board{min-width:1000px;border-right:0;  border-left:0; border-spacing:0; border-collapse:collapse; white-space:nowrap;font-size:14px;border-bottom:2px solid #ccc}
.tbl_board th{padding:9px 0;background:#3e3e3e;color:#fff;text-align:center;}
.tbl_board td{padding:9px 0;color:#3e3e3e;text-align:center;border-bottom:1px solid #cbcbcb}
.tbl_board .board_title{padding:9px 0 9px 67px;color:#3e3e3e;text-align:left;}
.tbl_board .ans{display:none;background-color:#FFFFFF;}
.tbl_board td a{color:#3e3e3e}
.tbl_board tr.ans2{display: table-row;background-color:#FFFFFF;}
.tbl_board tr.ans .ans_content{margin:20px 0;padding:23px;line-height:2em;background-color:#F9F9F9}
.tbl_board tr.ans .ans_content p{text-align:left;padding-left:70px;}
.tbl_board tr.ans2 .ans_content{margin:20px 0;padding:23px;line-height:2em;background-color:#F9F9F9;}

/*게시판 탭메뉴*/
.board_tab{margin-top:55px;}
.board_tab ul{overflow:hidden;margin:0 216px;}
.board_tab ul li{float:left;text-align:center;margin-left:10px;border:1px solid #cbcbcb;border-radius:20px;}
.board_tab ul li:first-child{margin-left:0px;}
.board_tab .submnu_tab{display:block;width:150px;padding:9px 15px;color:#3e3e3e;font-size:17px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.board_tab_v2 .submnu_tab_selected{display:block;width:76px;padding:9px 15px;color:#fff;background:#cb0808;font-size:12px;font-weight:bold;letter-spacing:-1px;text-decoration:none;border-radius:20px;}
.board_tab .submnu_tab_v2{display:block;width:150px;padding:9px 15px;color:#555;font-size:17px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.board_tab a:hover{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}
.board_tab .on{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}

/*종목 결과 탭메뉴*/
.board_tab_v2{margin-top:15px;margin-left:160px;}
.board_tab_v2 ul{overflow:hidden;}
.board_tab_v2 ul li{float:left;text-align:center;margin-left:10px;border:1px solid #cbcbcb;border-radius:20px;}
.board_tab_v2 ul li:first-child{margin-left:0px;}
.board_tab_v2 .submnu_tab{display:block;width:76px;padding:9px 15px;color:#3e3e3e;font-size:12px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.board_tab_v2 .submnu_tab_v2{display:block;width:150px;padding:9px 15px;color:#555;font-size:17px;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.board_tab_v2 a:hover{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}
.board_tab_v2 .on{display:block;color:#fff;background:#cb0808;text-decoration:none;border-radius:20px;}

/*페이징버튼*/
.paging{text-align:center;margin-top:30px;}
.paging a{display:inline-block;width:25px;height:25px;line-height:26px;border:1px solid #e9e9e9;font-family:'Arial';text-decoration:none;}
.paging a span{vertical-align:center;color:#bababa}
.paging a.current{background-color:#f3f3f3;}
.paging a.current span{font-weight:bold;}

/*마이페이지 */
.charge_title p{text-align:center;font-size:19px;}
.charge_title ul{margin-top:32px;}
.charge_title ul li{text-align:center;font-size:14px;}
.charge_title ul li span{color:red; text-align:center;font-size:14px;}

.lst_mypage{background:#f5f5f5;border:1px solid #dcdcdc;margin-top:42px;padding:30px 244px;color:#000}
.lst_mypage dl, .lst_mypage dd, .lst_mypage p, .lst_mypage span{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:14px}
.lst_mypage dt{float:left; color:#000;letter-spacing:-1px;padding-top:10px;width:118px;}
.lst_mypage dd{margin:5px 0;}
.lst_mypage p{margin:12px 0;color:red;letter-spacing:-1px;padding-top:10px;}
.lst_mypage span{display:block;margin:12px 0;color:#545454;letter-spacing:-1px;margin-left:120px}
.lst_mypage .red_type{color:red}
.lst_mypage .lst_txt{color:#000;padding:10px}
.lst_mypage input{padding:10px;border:1px solid #e4e4e4;width:277px}
.lst_mypage .finish{padding-top:20px;}
.lst_mypage .confirm{margin-left:3px;padding:10px;border:1px solid #e4e4e4;width:102px;background:#545454;color:#fff;cursor:pointer}
.lst_mypage .btn_finish{text-align:center;width:240px;text-align:center;color:#fff;background:#cb0808;font-size:14px;cursor:pointer}
.lst_mypage .btn_reset{text-align:center;width:240px;text-align:center;color:#fff;background:#878787;font-size:14px;cursor:pointer}
.lst_mypage .radio_type{width:21px;margin:10px 0;height:12px;color:#878787}
.lst_mypage .number{width:57px}
.lst_mypage .bankname{padding:9px;color:#888;border-color:#dcdcc;width:150px;}
.lst_mypage .join_end_title{text-align:center;padding:0;font-size:35px;color:#888;font-family:'나눔고딕',Nanum Gothic,Dotum,AppleGothic,sans-serif;font-weight:600}

/*popup*/
.popupwrap{text-align:center;}
.popupwrap #content{width:auto}
.popupwrap .bx_welcome{border:1px solid #ccc; width:500px;text-align:center;}
.popupwrap img{padding:15px 0 17px 0}
.popupwrap .bx_type {border-top:1px solid #ccc;padding:44px 0;background:#f0f0f0;}
.popupwrap .bx_type p{text-align:center;color:#373737;font-size:15px;line-height:2;font-weight:500}
.popupwrap .bx_type .red{color:red;font-weight:bold;}
.popupwrap .bx_type .recommend{padding:33px 0 24px 0; text-align:center;color:#373737;font-size:20px;font-weight:bold;letter-spacing:-1px;line-height:1.5}
.popupwrap .bx_type .span_red{color:red}
.popupwrap .bx_type .span_blue{color:blue}
.popupwrap .bx_type .span_green{color:green}
.popupwrap .bx_type .copyright {color:#c5c5c5;font-size:10px;font-family:Gulim,'굴림';font-weight:lighter}

/*popup_쪽지*/
.popupwrap .msg_type{border-top:none;padding:45px 20px; background:#fff;}
.popupwrap .bx_type .msg_title{overflow:hidden;text-align:center;color:#373737;font-size:18px;letter-spacing:-1px}
.popupwrap .bx_type .msg_date{padding-top:5px;text-align:center;color:#373737;font-size:14px;font-weight:normal;letter-spacing:-1px}
.popupwrap .bx_type .send_area{overflow:hidden;position:relative;}
.popupwrap .bx_type .send_text{text-align:left;height:253px;margin:49px 0 10px 0;padding:15px 15px 5px;border:1px solid #d8d8d8;color:#808080;overflow-y:scroll;word-break:break-all}



/*popup_아이디찾기*/
.popupwrap .bx_type .idsearch{overflow:hidden;text-align:center;color:#373737;font-size:18px;font-weight:normal;letter-spacing:-1px;}
.popupwrap .bx_idsearch,.popupwrap .bx_pwsearch{border:1px solid #ccc; width:500px;text-align:center;}
.popupwrap .bx_idsearch .copyright,.popupwrap .bx_pwsearch .copyright{padding:17px 0;}
.fr_type .fr_id{text-align:left;color:#878787; font-size:12px; display:block;  float:left;  width:80px; padding-top:20px; }
.inp_type{margin-top:10px;width:277px; height:40px; background-color:#fff;  border:1px solid #e4e4e4 ; padding-left:5px;}
.bar{margin-top:30px}
.fr_type {position:relative; overflow:hidden; margin:39px 0 0 60px}
.fr_type li {display:block; width:364px;text-align:left;}
.li_type3{padding:60px}
.fr_type2{margin-top:35px; padding:13px 0 20px  26px; background:#f3f3f3; border-top:2px solid #ececec}
.fr_type2 li{ margin-top: 5px; padding-left:7px}
.fr_type2 li:first-child{margin:0}
.btn_b{padding:2px;}
.inp_type2{margin:7px 0 0 80px;}
.inp_type2_v2{margin:7px 0 0 15px;}
.btn_default{display:block;color:#fff;text-align:center;background:#cb0808;padding:12px 0;margin:28px 0 45px 0}


/*이용약관 탭메뉴*/
.agreement{margin-top:20px;}
.tab_menu{margin:20px 0;}
.lst_agree{width:958px;padding:20px;border:1px solid #c2c2c2;list-style:none;margin-top:20px;}
.lst_agree li{text-align:left;margin-bottom:5px;font-weight:normal;line-height:18px;vertical-align:top;color:#000;text-decoration:none;}

.lst_agree p{color:#2d2c2d;text-decoration:none;line-height:18px;}

/*테이블 컬러 적용 값*/
.tbl_board .lst_money{color:red;font-weight:bold;}
.tbl_board .lst_select{border:3px solid red;font-weight:bold;}


/*footer*/
.inner, .inner_v2{width:1000px;height:50px;margin:0 auto; font-size:11px;}
.inner li{float:left;padding:18px 12px 13px 0 ;font-size:11px; letter-spacing:-0.5px}
.inner a{color:#89898a; padding:5px 0 5px 0}
.inner ul{float:left}
.inner .member{float:right}
.inner .member li:last-child{padding-right:0}
.inner_v2{clear:both;position:relative;margin-top:24px;color:#636364;line-height:10px}
.inner_v2 .copy{margin-top:8px;color:#c5c5c5;font-family:verdana;font-size:10px;letter-spacing:-0.5px}
.inner_v2 .copy span{color:#f0461e}
.inner_info {overflow:hidden;float:left}
.inner_add .add{padding-top:39px}
.inner_add{float:left;margin-left:38px}
.inner_add .sns li{float:left;margin-left:7px}
.inner_add .sns li:first-child{margin-left:0}
.qrcode{position:absolute;top:0;right:0;}
.footer_logo{width:119px;height:55px;float:left;}